<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jaxl Login</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="main">
        <div class="formfield">
            <form method="POST" action="send" >
                
                <input class="emailfield" type="email" name="email" placeholder="Your Email" required="true" size="50">
                <input class = "btn" type="submit" name="signup" class="form-submit" value="Request OTP">
            </form>
        </div>
        
    </div>
</body>

</html>